
<div class="container-fluid d-flex justify-content-center aling-content-center scale-in-center">
    <div class="pantalla position-relative">
        <button *ngIf="formElegido != ''" class="btn btn-danger position-absolute top-0 start-0 m-2 backOpcion" (click)="elegirForm('')">
            <img src="../../../assets/iconos/volver-flecha.png" alt="">
        </button>
        @if(formElegido == ''){
            <div class="row subfondo">
                <div class="card p-0 text-bg-dark img-btn" (click)="elegirForm('paciente')">
                    <img src="../../../assets/botones/personas.jpeg" alt="paciente">
                    <div class="card-img-overlay d-flex justify-content-center align-items-end ">
                        <h1 class="card-title mb-0">Paciente</h1>
                    </div>
                </div>
                <div class="card p-0 text-bg-dark img-btn" (click)="elegirForm('especialista')">
                    <img src="../../../assets/botones/doctores.jpeg" alt="especialista">
                    <div class="card-img-overlay d-flex justify-content-center align-items-end ">
                        <h1 class="card-title mb-0">Doctor</h1>
                    </div>
                </div>
            </div>
        }
        @else {
            @if(formElegido == 'paciente'){
                <form-paciente class="w-75" [redirectTo]="'/bienvenido'"></form-paciente>
            }
            @else{
                <form-especialista class="w-75" [redirectTo]="'/bienvenido'"></form-especialista>
            }
        }
    </div>
</div>