.pantalla{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90%;
    width: 80%;
    border-radius: 25px;
    padding: 20px;
}
.img-btn{
    width: 650px; 
    height: 650px;
    border-radius: 25px;
    margin: 30px;
    img{
        border-radius: 25px;
        width: 100%;
        height: 100%;
    } 
}
.subfondo{
    padding: 20px;
    border-radius: 25px;
}
.backOpcion{
    border-radius: 50px;
    img{
        width: 50px;
        height: 50px;
    }
}