<div class="container-fluid d-flex justify-content-center aling-content-center">
    <div class="pantalla d-flex flex-column position-relative">
        <div *ngIf="opcionSelecta == '' || opcionSelecta == 'usuarios'" class="row mt-2">
            <h1 class="titulo">Sección usuarios</h1>
        </div>
        <button *ngIf="opcionSelecta != ''" class="btn btn-danger position-absolute top-0 start-0 m-2 backOpcion" (click)="elegirOpcion('')">
            <img src="../../../assets/iconos/volver-flecha.png" alt="">
        </button>
        <button class="btn position-absolute top-0 end-0 backMenu m-2" [routerLink]="['/home']" routerLinkActive="router-link-active" >
            Volver al Menú
        </button>
        <div class="row">
            <ng-container >

                <ng-container *ngIf="opcionSelecta == '' ">
                    <button class="btn btn-lg btn-primary p-3 m-3" (click)="elegirOpcion('usuarios')">Listado de usuarios</button>
                    <button class="btn btn-lg btn-primary p-3 m-3" (click)="elegirOpcion('admin')">Alta Admin</button>
                    <button class="btn btn-lg btn-primary p-3 m-3" (click)="elegirOpcion('paciente')">Alta Paciente</button>
                    <button class="btn btn-lg btn-primary p-3 m-3" (click)="elegirOpcion('especialista')">Alta Especialista</button>
                </ng-container>
        
                <ng-container *ngIf="opcionSelecta == 'usuarios'" >
                    <div *ngIf="opcionSelecta == 'usuarios' " class="d-flex m-5">
                        <div *ngFor="let item of usuarios">
                            <div *ngIf="usuarioLogueado != item.email" class="col-lg-4 col-6">
                                <card-usuario [usuario]="item"></card-usuario>
                            </div>
                        </div>
                    </div>
                </ng-container>
    
                <ng-container *ngIf="opcionSelecta == 'admin' ">
                    <form-admin [redirectTo]=" '/home' " [titulo]="' '" [subtitulo]="' '"></form-admin>
                </ng-container>
    
                <ng-container *ngIf="opcionSelecta == 'paciente' ">
                    <form-paciente [redirectTo]=" '/home' " [titulo]="''" [subtitulo]="''"></form-paciente>
                </ng-container>
                
                <ng-container *ngIf="opcionSelecta == 'especialista' ">
                    <form-especialista [redirectTo]=" '/home' " [titulo]="''" [subtitulo]="''"></form-especialista>
                </ng-container>
            
            </ng-container>
        </div>
    </div>
</div>

