.pantalla{
    margin-top: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90vh!important;
    width: 85%;
    max-height: 88vh!important;
    border-radius: 20px;
    padding: 20px;
}

.titulo{
    color: white;
    font-size: 50px;
}

.resumen{
    color: white;
    h2{
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.resumen-container{
    border-radius: 25px;
    border: solid 1px orange 
}
// .scale-up-hor-left {
// 	-webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
// 	        animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
// }
// @-webkit-keyframes scale-up-hor-left {
//     0% {
//       -webkit-transform: scaleX(0.4);
//               transform: scaleX(0.4);
//       -webkit-transform-origin: 0% 0%;
//               transform-origin: 0% 0%;
//     }
//     100% {
//       -webkit-transform: scaleX(1);
//               transform: scaleX(1);
//       -webkit-transform-origin: 0% 0%;
//               transform-origin: 0% 0%;
//     }
//   }
//   @keyframes scale-up-hor-left {
//     0% {
//       -webkit-transform: scaleX(0.4);
//               transform: scaleX(0.4);
//       -webkit-transform-origin: 0% 0%;
//               transform-origin: 0% 0%;
//     }
//     100% {
//       -webkit-transform: scaleX(1);
//               transform: scaleX(1);
//       -webkit-transform-origin: 0% 0%;
//               transform-origin: 0% 0%;
//     }
//   }
  
// *ngIf="this.doctorElegido"
// *ngIf="this.especialidadElegida"
// *ngIf="this.diaElegido"
// *ngIf="this.horarioElegido"