.pantalla{
    display: flex;
    // justify-content: center;
    align-items: center;
    margin-top: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    height: 85vh;
    width: 80%;
    max-height: 85vh;
    border-radius: 20px;
    padding: 20px;
}

.titulo{
    margin-top: 10px;
    margin-bottom: 10px;
    h1{
        color: white;
        font-size: 50px;
    }
}

.resumen{
    color: white;
    h2{
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

// *ngIf="this.doctorElegido"
// *ngIf="this.especialidadElegida"
// *ngIf="this.diaElegido"
// *ngIf="this.horarioElegido"