<div class="container-fluid d-flex justify-content-center aling-content-center">
  <div class="pantalla d-flex flex-column position-relative">
    <button class="btn position-absolute top-0 end-0 backMenu m-2" [routerLink]="['/home']"
      routerLinkActive="router-link-active">
      Volver al Menú
    </button>
    <div class="card m-5 p-3" style="width: 80%; max-width: 90%;">
      <div class="row g-0">
        <div *ngIf="usuario?.rol == 'admin'" class="col-md-4">
          <img src="../../../assets/img/incognito.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div *ngIf="usuario?.rol == 'especialista'" class="col-md-4">
          <img [src]="usuario?.fotoPerfil_1" class="img-fluid rounded-start" alt="...">
        </div>
        <div *ngIf="usuario?.rol == 'paciente'" class="col-md-4">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img [src]="usuario!.fotoPerfil_1" class="d-block w-100 active" alt="...">
              </div>
              <div class="carousel-item">
                <img [src]="usuario!.fotoPerfil_2" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h1 class="card-title">{{usuario?.nombre}} {{usuario?.apellido}}</h1>
              <button *ngIf="this.usuario?.rol == 'paciente'" class="btn btn-info" (click)="openHistorialClinico()">Historial Clínico</button>
            </div>
            <p appLupa class="card-text">Rol: {{usuario?.rol}}</p>
            <p appLupa class="card-text">Email: {{usuario?.email}}</p>
            <p appLupa class="card-text">Edad: {{usuario?.edad}}</p>
            <p appLupa class="card-text">DNI: {{usuario?.dni}}</p>
            <p appLupa *ngIf="usuario?.rol == 'paciente'" class="card-text">Obra social: {{usuario?.obraSocial}}</p>
            <div *ngIf="usuario?.rol == 'especialista'">
              <p appLupa class="card-text">Especialidades:</p>
              <ul class="list-group" *ngFor="let item of usuario?.especialidad">
                <li appLupa class="list-group-item">{{item}}</li>
              </ul>
              <hr>
              <mis-horarios [usuario]="this.usuario!" ></mis-horarios>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>