.btn-card{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 15px;
    img{
        border-radius: 20px;

    }
}
.nombre{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
    margin: auto;
    border-radius: 10px;
    
}
h5{
    font-weight: bolder;
    font-size: 25px;
}
