.favButton{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    padding: 5px;
}
.imgFav{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.favBtnContainer{
    background-color: aqua;
    border-radius: 15px;
    padding: 5px;
    height: auto;
    margin: 10px;
}
.titulo{
    font-size: 50px;
    color: white;
    font-weight: bold;
}
.data{
    margin: 0;
    padding: 0;
}