.card{
    height: auto;
    margin: 10px;
    background-color: #1ec2cc;
    border-radius: 25px;
}

.foto{
    border-radius: 25px 25px 0 0;
    width: 19.85rem;
    height: 250px;
}

.data{
    margin: 0;
    padding: 0;
}