<div class="horarioContainer">
    <div *ngFor="let horario of horariosPosibles" 
        (click)="!this.verificarOcupado(horario)? onEnviarHorarioSelecto(horario) : ''"
        class="horario">
        @if(this.turnosOcupados.length > 0){
            @if(this.verificarOcupado(horario)){
                <button [disabled]="true" class="btn btn-secondary">{{ horario | date: 'H:mm' }}</button>
            }
            @else{
                <button [disabled]="false" class="btn btn-secondary">{{ horario | date: 'H:mm' }}</button>
            }
        }
        @else{
            <button 
                class="btn btn-secondary ">{{ horario | date: 'H:mm' }}
            </button>
        }
        
    </div>
</div>
