.pantalla{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90%;
    width: 80%;
    border-radius: 20px;
    padding: 20px;
}

.form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo{
    color: white;
    display: flex;
    justify-content: center;
    h1{
        font-size: 50px;
    }
}