// .pantalla{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: 15vh;
//     background-color: rgba(0, 0, 0, 0.301);
//     height: 90%;
//     border-radius: 20px;
// }

.titulo{
    padding: 10px;
    color: white;
    h1{
        display: flex;
        justify-content: center;
    }
}
mat-form-field{
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}