<nav class="navbar sticky d-block bg-body-tertiary border-bottom border-body " data-bs-theme="dark">
    <div class="container-fluid">
        <div>
            <img [routerLink]="['/home']" class="px-1 logo" src="../../../assets/iconos/fav3.ico" alt="">
            <a class="navbar-brand">{{this.authServ.currentUser?.email}}</a>
        </div>
        <h1 *ngIf="!this.authServ.currentUser" class="navbar-brand fs-1">{{ 'bienvenido' | translate }}!</h1>
        <div class="d-flex " role="search">
            <div ngbDropdown class="d-inline-block px-2 me-2">
                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle> 
                    <i class="bi bi-translate"></i>    
                </button>
                <div class="w-auto" ngbDropdownMenu>
                    <button ngbDropdownItem [style]="this.lang == 'es'? 'background-color: #0d5eff' : '' " (click)="setLang('es')">{{ 'español' | translate}}</button>
                    <button ngbDropdownItem [style]="this.lang == 'en'? 'background-color: #0d5eff' : '' "(click)="setLang('en')">{{ 'ingles' | translate}}</button>
                    <button ngbDropdownItem [style]="this.lang == 'pr'? 'background-color: #0d5eff' : '' "(click)="setLang('pr')">{{ 'portugues' | translate}}</button>
                </div>
            </div>
            @if(!this.authServ.currentUser){
                <button class="btn btn-outline-info px-5 me-2" type="button" [routerLink]="['/login']" > {{ 'btnIniciarSesion' | translate }} </button>
                <button class="btn btn-outline-light px-5 ms-2" type="button" [routerLink]="['/register']"> {{ 'btnRegistrate' | translate }} </button>
            }
            @else{
                <button class="btn btn-outline-danger px-5 mx-2" type="button" (click)="CerrarSesion()" > {{ 'btnCerrarSesión' | translate }} </button>
            }
        </div> 
    </div> 
</nav>