<div class="container-fluid d-flex justify-content-center aling-content-center">
    <div class="pantalla d-flex flex-column p-4">
        <div class="row d-flex flex-row justify-content-between header">
            <h1 class="titulo">Gráficos y Estadísticas</h1>
            <img class="imgExport" src="../../../assets/modalBtn/pdf.png" alt="" (click)="imprimirPdf()">
        </div>
        <div class="row d-flex justify-content-center w-100">
            <div class="col-12 m-4">
                <tabla-logs ></tabla-logs>
            </div>
            <div class="col-6" >
                <turnos-por-especialidad #canvasElement [turnos]="this.turnos"></turnos-por-especialidad>
            </div>
            <div class="col-6" >
                <turnos-por-dia #canvasElement [turnos]="this.turnos"></turnos-por-dia>
            </div>
            <div class="col-12 m-4">
                <turnos-por-medico-periodos #canvasElement [turnos]="this.turnos"></turnos-por-medico-periodos>
            </div>
            <div class="col-12 m-4">
                <turnos-finalizados-por-medico-periodos #canvasElement [turnos]="this.turnos"></turnos-finalizados-por-medico-periodos>
            </div>
            
            <hr style="color: white;">
            
            <div class="col-12 m-4">
                <visitas-clinica #canvasElement ></visitas-clinica>
            </div>
            <div class="col-6" >
                <pacientes-por-especialidad #canvasElement [turnos]="this.turnos"></pacientes-por-especialidad>
            </div>
            <div class="col-6" >
                <medicos-por-especialidad #canvasElement ></medicos-por-especialidad>
            </div> 
            <div class="col-12 m-4">
                <encuestas [turnos]="this.turnos"></encuestas>
            </div>
            <div class="col-12 m-4">
                <turnos-por-paciente [turnos]="this.turnos" ></turnos-por-paciente>
            </div>

        </div>
    </div>
</div>