.pantalla{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90%;
    width: 80%;
    border-radius: 20px;
    padding: 20px;
}

.btn-custom{
    background-color: #22cbd1;
    color: black;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bolder;
}

.bienvenida{
    width: 75rem;
    height: 50rem;
    background: url('../../../assets/iconos/fav3.ico') no-repeat center ;
    background-size: contain;
}
.encabezado{
    padding: 10px;
    border-radius: 25px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.493);
    h1{
        padding-top: 10px;
        color: white;
    }
    h2{
        color: white;
    }
}
.btn{
    margin: 10px;
    color: black;
    font-weight: bold;
    font-size: 50px;
    background-color: #fea43dcc;
}
.titulo{
    font-size: 70px;
}