<div class="container-fluid d-flex justify-content-center aling-content-center">
    <div class="pantalla d-flex flex-column">
        <div *ngIf="usuarioLogueado">
            <button appMenuBtn *ngIf="this.usuarioLogueado.rol == 'admin'" class="btn btn-primary btn-custom" [routerLink]="['/seccion_usuarios']">Usuarios</button>
            <button appMenuBtn *ngIf="this.usuarioLogueado.rol == 'especialista'" class="btn btn-primary btn-custom" [routerLink]="['/pacientes']">Pacientes</button>
            <button appMenuBtn *ngIf="this.usuarioLogueado.rol != 'admin'" class="btn btn-primary btn-custom" [routerLink]="['/mis-turnos']">Mis turnos</button>
            <button appMenuBtn *ngIf="this.usuarioLogueado.rol == 'admin'" class="btn btn-primary btn-custom" [routerLink]="['/turnos']">Turnos</button>
            <button appMenuBtn *ngIf="this.usuarioLogueado.rol != 'especialista'" class="btn btn-primary btn-custom" [routerLink]="['/solicitar-turno']">Solicitar Turno</button>
            <button appMenuBtn  class="btn btn-primary btn-custom" [routerLink]="['/mi-perfil']">Mi perfil</button>
            <button appMenuBtn *ngIf="this.usuarioLogueado.rol == 'admin'" class="btn btn-primary btn-custom" [routerLink]="['/graficos-y-estadisticas']">Gráficos y estadísticas</button>
        </div>
    </div>
</div>

