<div class="puff-in-center">

    <div class="modal-header w-100">
        <h4 class="modal-title">Finalizar turno</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body w-100">
        <form [formGroup]="form">
            <mat-form-field class="w-100">
                <mat-label>Deje una reseña para el paciente:</mat-label>
                <textarea matInput placeholder="Reseña" formControlName="resenia"></textarea>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Altura:</mat-label>
                <input matInput type="number" placeholder="altura (cm)" formControlName="altura">
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Peso:</mat-label>
                <input matInput type="number" placeholder="peso (g)" formControlName="peso">
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Temperatura:</mat-label>
                <input matInput type="text" placeholder="temperatura (°c)" formControlName="temperatura">
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Presión:</mat-label>
                <input matInput type="text" placeholder="presión" formControlName="presion">
            </mat-form-field>
    
            <button class="btn btn-sm btn-info m-2" type="button" (click)="agregarDatoDinamico()">Agregar Dato Dinámico</button>
    
            <div formArrayName="dinamicos">
                <div *ngFor="let dinamico of dinamicos.controls; let i = index" [formGroupName]="i" class="row d-flex justify-content-center flex-row">
                    <div class="col-5">
                        <mat-form-field class="">
                            <mat-label>Clave:</mat-label>
                            <input matInput type="text" placeholder="clave" formControlName="clave" class="w-75">
                        </mat-form-field>
                    </div>
                    <div class="col-5">
                        <mat-form-field class="">
                            <mat-label>Valor:</mat-label>
                            <input matInput type="text" placeholder="valor" formControlName="valor" class="w-75">
                        </mat-form-field>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center p-0 m-0">
                        <img src="../../../assets/modalBtn/quitar.png" style="width: 25px;" alt="" (click)="eliminarDatoDinamico(i)">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer w-100">
        <button type="button" class="btn btn-outline-danger" (click)="activeModal.close('Close click')">Cancelar</button>
        <button type="button" class="btn btn-outline-success" (click)="finalizar()">Guardar y Finalizar</button>
    </div>
</div>
