<div class="container-fluid d-flex justify-content-center aling-content-center">
    <div class="pantalla d-flex flex-column position-relative">
        <div class="row mt-2">
            <h1 class="titulo">Pacientes</h1>
        </div>
        <div class="row">
            <div class=" d-flex justify-content-center flex-wrap m-5">
                @if(this.pacientes && this.pacientes.length > 0){
                    <div *ngFor="let item of pacientes" class="m-2">
                        <favbutton-usuario
                            class="m-2"
                            [quienConsulta]="this.usuarioLogueado!.rol!"
                            [usuario]="item"
                        ></favbutton-usuario>
                    </div>
                }

            </div>
        </div>

    </div>
</div>
