<div class="mis-horarios" >
    <div class="d-flex justify-content-between">
        <h2>Mis horarios</h2>
        <div>
            <img (click)="onClickEditar()" class="img-btn" *ngIf="!editar" src="../../../assets/botones/editar.png" alt="">
            <img (click)="onClickConfirmar()" class="img-btn" *ngIf="editar" src="../../../assets/botones/cheque.png" alt="">
            <img (click)="onClickCancelar()" class="img-btn" *ngIf="editar" src="../../../assets/botones/x.png" alt="">
        </div>
    </div>
    <div *ngFor="let especialidad of usuario.especialidad">
        <div class="row">
            <h3>{{especialidad}}</h3>
            <ng-container *ngFor="let dia of diasLaborables">
                <ng-container *ngFor="let horario of horarios">
                    <ng-container *ngIf="dia == horario.dia && especialidad == horario.especialidad">
                        <div class="col-2"> 
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="{{dia}}" 
                                    [checked]="horario.trabaja && (horario.desde != null || horario.hasta != null)? true : false" 
                                    [(ngModel)]="horario.trabaja"
                                    (click)="onChangeHorarioTrabaja(horario)"
                                    [disabled]="!editar">
                                <label class="form-check-label" for="{{dia}}">{{dia}}</label>
                            </div>
                            <div>
                                @if(horario.trabaja){
                                    <mat-form-field>
                                        <mat-label>Desde:</mat-label>
                                        <mat-select [(ngModel)]="horario.desde" [disabled]="!editar">
                                            @if(dia != 'sábado'){
                                                <mat-option [value]="null"></mat-option>
                                                @for (hora of horariosSemana; track hora) {
                                                  <mat-option value="{{hora}}">{{hora}}</mat-option>
                                                }
                                            }
                                            @else {
                                                @for (hora of horariosSabado; track hora) {
                                                  <mat-option value="{{hora}}">{{hora}}</mat-option>
                                                }
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Hasta:</mat-label>
                                        <mat-select [(ngModel)]="horario.hasta" [disabled]="!editar">
                                            <mat-option [value]="null"></mat-option>
                                            @if(dia != 'sábado'){
                                                @for (hora of horariosSemana; track hora) {
                                                    <mat-option value="{{hora}}">{{hora}}</mat-option>
                                                }
                                            }
                                            @else {
                                                @for (hora of horariosSabado; track hora) {
                                                    <mat-option value="{{hora}}">{{hora}}</mat-option>
                                                }
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                }
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
        <hr>
    </div>
</div>
